<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/5dd1e5b89d.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <header class="header">
            <nav>
                <div class="logo">
                    <h1>Todos</h1>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="card">
                    <input type="text" v-model.trim="inputValue" @keydown.enter="addTodo">
                    <button @click="addTodo">enter
                    </button>
                    <!-- {{ todos}} -->
                    <ul class="todo-list" v-if="todos.length !== 0">
                        
                        <li class="todo-item" v-for="(todo,i) in todos" :class="todo.done === true  ? 'complete' : ''"
                        @click="todo.done = !todo.done"
                        >
                            {{ todo.text }} <i class="fa-solid fa-x" @click="deleteItem(i)"></i>
                        </li>

                    </ul>
                    <p v-else>Non ci sono commissioni da fare</p>

                </div>
            </div>
        </main>
    </div>




    <script src="./app.js"></script>
</body>

</html>